asgiref==3.5.0
autopep8==1.6.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
colorclass==2.2.2
cryptography==36.0.2
Django==4.0.4
django-cors-headers==3.11.0
django-countries==7.3.2
django-rest-framework==0.1.0
django-rest-knox==4.2.0
djangorestframework==3.13.1
docopt==0.6.2
idna==3.3
mysqlclient==2.1.0
packaging==21.3
Pillow==9.1.0
pip-upgrader==1.4.15
pycodestyle==2.8.0
pycparser==2.21
pyparsing==3.0.8
pytz==2022.1
requests==2.27.1
sqlparse==0.4.2
terminaltables==3.1.10
toml==0.10.2
typing_extensions==4.2.0
tzdata==2022.1
urllib3==1.26.9
